<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>
		Telekinesis
	</title>
	<link rel="stylesheet" href="html/style.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="../../node_modules/angular-material/angular-material.css" media="screen" title="no title" charset="utf-8">
	<script src="../../node_modules/angular/angular.js" charset="utf-8"></script>
	<script src="../../node_modules/moment/moment.js" charset="utf-8"></script>
	<script src="../../node_modules/angular-animate/angular-animate.js" charset="utf-8"></script>
	<script src="../../node_modules/angular-aria/angular-aria.js" charset="utf-8"></script>
	<script src="../../node_modules/angular-material/angular-material.js" charset="utf-8"></script>
	<script src="../../node_modules/angular-route/angular-route.js" charset="utf-8"></script>
	<script src="../../node_modules/angular-filter/dist/angular-filter.js" charset="utf-8"></script>
	<script src="js/app.js" charset="utf-8"></script>
	<script src="js/controllers.js" charset="utf-8"></script>
</head>

<body ng-app="telekinesisServer" ng-cloak>
	<div ng-controller="navCtrl" layout="row" layout-fill>
		<md-sidenav class=" site-sidenav md-sidenav-left md-whiteframe-2dp" md-component-id="left " md-is-locked-open="$mdMedia( 'gt-sm') ">
			<md-toolbar id="title" class="md-tall md-hue-2 blue md-whiteframe-5dp">
				<header class="nav-header ">
					<img src="icons/ic_mood_white_48px.svg " alt=" " />
					<h1 class="md-display-1">Telekinesis</h1>
				</header>
			</md-toolbar>

			<md-list>
				<md-list-item ng-repeat="it in items ">

					<md-button ng-click="changeView(it.link)">
						<md-icon md-svg-icon="icons/{{it.icon}} "></md-icon>
						{{it.name}}
					</md-button>
				</md-list-item>
			</md-list>
		</md-sidenav>

		<!-- TITLEBAR -->

		<div layout="column" layout-fill>
			<md-toolbar  ng-controller="titleCtrl">
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="Menu" hide-gt-sm ng-click="toggleFilter( 'left') " ng-show="!checkView" class="ng-hide">
						<md-icon md-svg-icon="icons/menuicon.svg "></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Back" ng-click="goBack()">
						<md-icon md-svg-icon="icons/ic_arrow_back_white_24px.svg "></md-icon>
					</md-button>
					<h2><span class="md-title">{{Page.title()}}</span></h2>
					<!-- <span flex></span> -->
				</div>
			</md-toolbar>

			<md-content>
				<ng-view></ng-view>
			</md-content>

		</div>
</body>

</html>
