
<md-subheader class="contacts-header">
    <div layout="row">
        <md-input-container flex class="search-container" md-no-float>
        <md-icon md-svg-icon="icons/ic_search_black_24px.svg"></md-icon>
        <input ng-model="searchText.displayName" placeholder="Search by name or phone number" flex esccancel>
        <md-icon md-svg-src="icons/ic_close_black_24px.svg" ng-show="searchText" ng-click="clearText()"></md-icon>
    </md-input-container>
    </div>
</md-subheader>
<section>
    <!-- SUBHEADER -->


    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="contacts.length === 0" class="ng-hide">
  <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
</div>
<md-list>
     <md-list-item class="md-3-line"  ng-click="sendMessageForm($event); getName(contact.displayName);"  ng-repeat="contact in contacts  | orderBy:'displayName' | filter:searchText.displayName ||  searchText.number.value">
       <img src="icons/contactphoto.jpg" class="md-avatar" />
       <div class="md-list-item-text" layout="column">
       <h3>{{ contact.displayName }}</h3>
       <p ng-repeat="number in contact.phoneNumbers">{{number.type.toLowerCase()}}: {{number.number}}</p>
     </div>
     </md-list-item>
</md-list>
</section>
<!-- TODO <md-button class="md-fab md-fab-bottom-right md-direction" md-direction="right" aria-label="Send sms" ng-click="sendMessageForm(name, message)">
        <md-icon md-svg-src="icons/ic_textsms_black_24px.svg" class="material-icons"></md-icon>
    </md-button> TODO-->
