<md-dialog aria-label="Send Message"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Send Message</h2>
        <span flex></span>
      </div>
    </md-toolbar>
        <!-- <p ng-repeat="items in ctrl.items">{{items.displayName}}</p>TODO: Search with Chips thing -->
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-sm="row">
         <md-input-container class="md-block" flex-gt-sm>
           <label>Name</label>
           <input ng-model="currentName"> <!--TODO-->
         </md-input-container>
       </div>
       <md-input-container class="md-block">
          <label>Message</label>
          <input ng-model="message"> <!-- TODO -->
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="send(currentName, message)" style="margin-right:20px;">
        Send
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
