.nav-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 16px;
  margin: 0 auto;
}

#chat {
    margin-right:auto;
    margin-left:auto;
    overflow:hidden;
    margin-bottom: 14%;
}
#chatbox {
    margin-left: 1%;
    position:fixed;
    bottom:0px;
    background-color: white;
    width:72%;
}


.send-button {
    width: 2px;
}

.input-container {
    padding-top: 0px !important;
    padding-bottom: 4px !important;
    height: 0px !important;
}

/*.contacts-header {
    line-height: 0px !important;
    padding-top: 0px !important;
    vertical-align: top !important;
    /*height: 0px !important;*/
}*/

.nav-header > img {
    height: 80px;
}

md-list-item > button {
  width:100%;
  text-align:left !important;
  height:50px;;
}


.title {
  color: white;
}

md-input-container {
padding-top: 0;
padding-bottom: 0;
margin: 0 auto;

}

.sent {
    color: white;
    font-size: 20px;
    background-color: yellow;
}

.received {
    color: red;
}


footer {
  background: #ddd;
  height: 64px;
}


#title {
    background-image: url("../icons/background.png");
}
